*{
    box-sizing: border-box;
    border: 0px;
    border: 0px;
}

.welcomepage{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 250px;
    height: auto;
    list-style: none;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}